@import url('https://fonts.googleapis.com/css?family=Mina');

body, html {
	font-family: "Mina", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("d.jpg");
	background-repeat: repeat-x;
	background-size: cover;
	background-position: center;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	background: white;
	color: #fff;
	margin-bottom: 25px;
	font-size: 15px;
	height: 40px;
	outline: none;
	padding: 10px;
}

.registration {
	margin: 0;
	width: 400px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border-radius: 20px;
	cursor: pointer;
	border: 0;
}

button[type="submit"]:hover {
	background: DodgerBlue;
}

a {
	color: #43a047;
}


a:hover {
	color: DodgerBlue;
}


.sign-in {
	text-align: center;
	font-size: 15px;
}

h3 {
	font-weight: bold;
	text-align: left;
	text-indent: 15px;
}

p {
	text-align: left;
	text-indent: 15px;
}

.navbar {
	padding: 5px 10px;
}

.nav-link {
	padding: 0px;
	font-weight: bold;
	color: white;
}