{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Classroom Posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="post.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
.form-group{
	width: 600px;
        border: 2px solid green;
	margin-left: auto;
	margin-right: auto;
}
.container{
    width: 1100px;
}
.wrapper{
    overflow-y:scroll;
    height: 300px;
}

</style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
 <a class="navbar-brand" href="#">CourseHub</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
<br>
<center><h1>Classroom Posts</h1></center>
<br>
<div class="form-group"> 
	<input type="text" class="form-control" placeholder="Search posts" id="search">
</div>
<br>
<div class="container">
<div class="wrapper">          
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Comments</th>
        <th>Title</th>
        <th>Author</th>
	<th>Rating</th>
      </tr>
    </thead>
    <tbody>
    {% for posts in post %}  
    <tr>
        <td>{{ posts.comment.count() }}</td>
	<td><a href="{{url_for('detail',post_id = posts.id)}}"><font color="white">{{ posts.title }}</font></a></td>
        <td>{{ posts.user.username }}</td>
        <td></td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>
<br>
<center><button type="button" class="btn btn-success">Home</button></center>
</body>
</html>