{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<style>
    body, html {
        font-family: "Mina", sans-serif;
	    height: 100%;
	    margin: 0;
        padding: 0;
        background: #e0e0e0;
     }

.page-title{
    text-align: center;
}

.post-info{
    text-align: center;
    margin-top: 16px;
}

.description{
    padding: 10px 20px 10px 20px;
}

h4{
    padding-left: 20px;
}



</style>
</head>

    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <a class="navbar-brand" href="#">CourseHub</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
                </li>
             </ul>
    </nav>

    <h3 class="page-title">{{ post.title }}</h3>
    <p class="post-info">
    <span class="author">Author：{{ post.user.username }}</span>
    <span>  {{ post.post_time }}</span></p>
    <p class="description">{{ post.description}}</p>
    <hr>
    <h4>Comment：{{ post.comment.count() }}</h4>
    <form action="{{url_for('comment', post_id=post.id)}}" method="POST">
        <div class="new-comment">
            <input type="text" class="form-control" placeholder="Comment" name="comment_detail">
            <input name="post_id" type="hidden" value="{{ post.id }}" />
    </div>
    <button class="btn-send">Submit</button>
    </form>
    <ul class="comment-list">
        {% for commnet in post.comment%}
        <li>
            <div class="user_info">
                <span class="username"> {{ commnet.user.username }}</span>
                <span class="create_time">  {{ commnet.comment_time }}</span>
            </div>
            <p class="detail">{{ commnet.detail }}</p>
        </li>

        {% endfor %}
    </ul>
</body>
</html>