<!DOCTYPE html>
<html lang="en">
<head>
  <title>CourseHub</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <style>

  body, html {
    font-family: "Mina", sans-serif;
	  height: 100%;
	  margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 100px;
    margin-bottom: 100px;
  }

  .container {
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }


  </style>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
 <a class="navbar-brand" href="#">CourseHub</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('signup') }}">Register</a>
    </li>
  </ul>
</nav>

<div class="container">
<h1>Welcome to CourseHub</h1>
  <div class="row">
  <div class="col-sm">
    <p>Stuggling with your classes? Need help with something related to your class? Need to communicate with your classmates about something? Don't worry, CourseHub has you covered!</p>
  </div>
  <div class="col-sm">
    <p>Select a specific subject and find your class! Be able to post questions on a forum where anyone in the class can help out. CourseHub encourages students to discuss with each other and help one another. </p>
  </div>
  <div class="col-sm"> 
    <p>If you don't have an account, register now with your Hunter college email! Don't fall behind in your class!</p>
  </div> 
</div>

</div>

</body>
</html>
