{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Classroom Posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="post.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <style>
    h1{
        text-align: center;
    }
    .courseusers {
        width: 500px;
        margin: 0 auto;
    }
    
    .users a {
         color: black;
        font-size: 20px;
    }

    .allusers{
        width: 500px;
        border: 1px solid grey;
        padding: 0;
        margin: 0;
    }
    .users{

        list-style: none;
    }
    .users:nth-of-type(even){
        background: #d3edf3;}
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
 <a class="navbar-brand" href="#">CourseHub</a>
  <ul class="navbar-nav ml-auto">
         <li class="nav-item">
                   <a class="nav-link" href="{{url_for('course', course_id=course.id) }}">Course</a>
      </li>
	<li class="nav-item">
                   <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
               </li>

  </ul>
</nav>
   <br>
    <h1>{{course.course_name}} Users</h1>
  <div class="courseusers">

<br>
    <ul class="allusers">
      {% for user in users %} 
      <li class="users"><a href={{ url_for('user', user_id = user.id) }}> {{user.username}} </a></li>
      {% endfor %}
    </ul>

    </div>

</body>
</html>