{% extends 'usercenter.html' %}
{%block user%}
        <p class="users-comment"
           style="font-size: 22px; text-align: center;">{{ user.username }}'s Comments</p>

 <div class="all-comment" style="margin:0 auto;width:900px;height:auto;">
     <ul>
    {% for comments in user.comment %}
                <li class="list-group-item"  >
                    <p >Title:  <a href="{{ url_for('detail',post_id=comments.post.id) }}"> {{ comments.post.title }}</a></p>
                     <p class="detail">{{ comments.detail }}</p>
                    <span class="time">{{ comments.comment_time.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </li>
        {% endfor %}
    </ul>
     </div>
{% endblock %}
